* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.videoP {
  max-width: 90%;
  position: relative;
  overflow: hidden;
}

.video {
  width: 100%;
}


.play{
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition: 0.3s;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.6);
}

.videoP:hover .play{
  transform: translateY(0);
}

.playB{
  width: 10%;
  border: none;
  background-color:transparent;
  color: white;
  padding: 10px;
  font-size: 1.7rem;
  cursor: pointer;
}
.playB:hover{
  background-color: red;
}

.playB:focus {
  outline: none;
}

.time {
  font-size: 1.5rem ;
  color: white;
  width: 20%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.progress{
  position: relative;
  display:flex;
  width: 100%;
  height: 100px;
  transition: 0.3s;
  background-color:rgba(0, 0, 0, 0.6);
  cursor: pointer;

}

.progress-video{
  width: 0;
  background-color: red;
}

.videoP:hover .progress{
  height: 15px;
}

.ipc{
  width: 100%;
  display: flex; 
}
.mut{
  display: none;
  position: absolute;
}
.mute{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  width: 10%;
  margin-right: 20px;
  cursor: pointer;
}

.mute.muted .mut{
  display: block;
}
.mute.muted .mu{
  display: none;
}

.mute:hover{
  background-color: red;
}

.full{
  position: absolute;
 
  background-color: transparent;
  border: none;
  width: 10%;
  margin-left: 82%;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .videoP {
    max-width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .playB{
    width: 20%;
    padding: 0;
  }

  input{
    display: none;
  }
  
  .mute{
    width: 15%;
    margin-right: 20px;
  }
  .time {
    font-size: 2rem ;
    width: 30%;
  }
  
}